h3 {
    font-size: 24px;
}

button:focus {
    outline: none;
}

/* Start Box 1 */
.box1 {
    min-height: 400px;
    padding: 94px 0;
    background: #F9F9FF;
}

.box1 .col-box1 {
    color: #000;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.box1 .col-box1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
}



.box1 .icons-box1 {
    background: url("../images/bg-icon1.png") no-repeat;
    background-position: right;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-53%);
    -webkit-transform: translateX(-53%);
    -moz-transform: translateX(-53%);
    -ms-transform: translateX(-53%);
    -o-transform: translateX(-53%);
}

.box1 .icons-box1 .icon-svg,
.box1 .icons-box1 .icon-svg svg {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.box1 .icons-box1 .icon-svg {
    background: #FFD100;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.box1 .icon-svg svg {
    position: relative;
    top: 50%;
    left: 25%;
}

.box1 h3 {
    margin-top: 25px;
}

.box1 p {
    color: #9C9CA8;
    margin: 20px 0;
    line-height: 1.8;
}

/* End Box 1 */

/* Start Box 2 */
.box2 {
    min-height: 600px;
    padding: 5%;
    background: #1B223F;
}

.box2 .icons-box2 {
    width: 75%;
    color: #3A4451;
    background: #fff;
    padding: 40% 30px 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.box2 .icons-box2 img {
    max-width: 60px;
}

.box2 .icons-box2 h3 {
    margin: 20px 0;
}

.box2 .icons-box2 p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.box2 .col-md-6:nth-of-type(2),
.box2 .col-md-6:nth-of-type(3),
.box2 .col-md-6:last-of-type {
    margin-top: -220px;
}

.box2 .icons-box2 button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: #2481DE;
    margin-bottom: 20px;
}


/* End Box 2 */


/* Start Box 3 */
.box3 {
    min-height: 400px;
    padding: 94px 0;
}

.box3 .col-box3 {
    color: #000;
    border: 2px solid #6a74ff34;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.box3 .icons-box3 .icon-svg svg {
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-43%, -53%);
    -webkit-transform: translate(-43%, -53%);
    -moz-transform: translate(-43%, -53%);
    -ms-transform: translate(-43%, -53%);
    -o-transform: translate(-43%, -53%);
    fill: #3E468F;
}

.box3 .icons-box3 .icon-svg {
    background: url("../images/bg-box3.png") no-repeat center;
    background-position: right;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-53%);
    -webkit-transform: translateX(-53%);
    -moz-transform: translateX(-53%);
    -ms-transform: translateX(-53%);
    -o-transform: translateX(-53%);
}

.box3 h3 {
    margin-top: 25px;
    font-size: 20px;
}

.box3 p {
    color: #9C9CA8;
    margin: 20px 0;
    line-height: 1.8;
}

.box3 .col-box3:hover {
    background: #6A75FF;
    color: #fff;
}

.box3 .col-box3:hover p {
    color: #fff;
}

.box3 .col-box3:hover svg {
    fill: #fff;
}

/* End Box 3 */


/* Start Box 4 */
.box4 {
    min-height: 400px;
    padding: 40px 0;
}

.box4 .col-box4 {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.box4 .col-box4:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box4 .icons-box4 .icon-svg svg {
    position: static;
}

.box4 h3 {
    margin: 10px 0 40px;
}

/* End Box 4 */

/* Start Box 5 */
.box5 {
    min-height: 400px;
    padding: 94px 0;
}

.box5 .col-box5 {
    font-weight: bold;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box5 .col-box5:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}


.box5 .icons-box5 .icon-svg svg {
    position: static;
}

.box5 h3 {
    margin: 25px 0 12px;
    color: #243668;
}


.box5 p {
    color: #838FAE;
    line-height: 1.8;
    font-size: 16px;
}

.box5 .line {
    margin: 26px auto;
    width: 100px;
    height: 4px;
    background: #1F65FF;
    border-radius: 5px;
}

.box5 button {
    background: #1F65FF;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* End Box 5 */

/* Start Box 6 */
.box6 {
    min-height: 400px;
    padding: 94px 0;
}

.box6 .col-box6 {
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    background: #F4F8FD;
}

.box6 .col-box6 .icon-svg {
    background: #efefef;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box6 .col-box6 .icon-svg svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.box6 .col-box6:hover .icon-svg {
    background: #6AA1E1;
}

.box6 .col-box6:hover .icon {
    fill: #fff;
}


.box6 .col-box6:hover {
    box-shadow: 0 0 25px #135bf759;
    background: #4689D7;
}

.box6 .col-box6:hover h3,
.box6 .col-box6:hover p {
    color: #fff;
}

.box6 h3 {
    margin: 25px 0 12px;
    color: #243668;
    font-size: 18px;
}


.box6 p {
    color: #838FAE;
    line-height: 1.8;
    font-size: 14px;
}

.box6 button {
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: #00D280;
    margin-top: 20px;
}

.box6 button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f30b';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 15px;
    font-size: 24px;
}

/* End Box 6 */


/* Start Box 7 */
.box7 {
    min-height: 400px;
    padding: 94px 0;
}

.box7 .col-box7 {
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    background: #F4F8FD;
}

.box7 .col-box7:hover .icon {
    fill: #fff;
}


.box7 .col-box7:hover {
    box-shadow: 0 0 25px #135bf759;
    background: #4689D7;
}

.box7 .col-box7:hover h3,
.box7 .col-box7:hover p {
    color: #fff;
}

.box7 h3 {
    margin: 25px 0 12px;
    color: #243668;
    font-size: 18px;
}


.box7 p {
    color: #838FAE;
    line-height: 1.8;
    font-size: 14px;
}

/* End Box 7 */

/* Start Box 8 */
.box8 {
    min-height: 400px;
    padding: 50px 0 0 0;
    background: #FAFAFE;
}

.box8 .col-box8 {
    padding: 10px 20px;
    margin-bottom: 50px;

}

.box8 .col-box8 .icon-svg {
    background: #5c2dde23;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box8 .col-box8 .icon-svg svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.box8 h3 {
    font-size: 18px;
    margin: 25px 0;
    color: #222D39;
}


.box8 p {
    line-height: 1.8;
    font-size: 14px;
    color: #677294;
    padding: 0 50px 0 0;
}

/* End Box 8 */


/* Start Box 9 */
.box9 {
    min-height: 400px;
    padding: 110px 0 70px;
}

.box9 .col-box9 {
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px #170d5b49;
}

.box9 .col-box9:hover {
    box-shadow: 0 0 25px #170d5b49;
}


.box9 .icons-box9 .icon-svg svg {
    position: static;
}

.box9 h3 {
    margin: 40px 0 25px;
    color: #252525;
}


.box9 p {
    color: #808080;
    line-height: 1.8;
    font-size: 15px;
}

.box9 button {
    font-size: 15px;
    background: none;
    border: none;
    color: #135AF7;
    margin-top: 20px;
}

.box9 button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f30b';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
}

/* End Box 9 */


/* Start Box 10 */
.box10 {
    min-height: 400px;
    padding: 80px 0 100px;
}

.box10 .col-box10 {
    padding: 40px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #2a1ecd81;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.box10 .col-box10:hover {
    box-shadow: 0 0 25px #2a1ecd81;
    background: #2B1ECD;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.box10 .col-box10:hover .icon {
    fill: #ffffff;
}

.box10 .col-box10:hover h3,
.box10 .col-box10:hover p {
    color: #ffffff;
}

.box10 h3 {
    margin: 25px 0 12px;
    color: #243668;
    font-size: 18px;
}


.box10 p {
    color: #838FAE;
    line-height: 1.8;
    font-size: 14px;
}


.box10 button {
    background: #ffffff;
    color: #291ACC;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #3B43D9;
    margin-top: 40px;
}

/* End Box 10 */